:root {
  --background: #ffffff;
  --foreground: #171717;
}

html > * {
  border: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
}

.Navbar {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: 0;
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px #383838;
}

.NavLeft {
  display: flex;
  align-items: center;
}

.ProductsList {
  padding-top: 24px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  padding: 3px;
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

.login {
  position: relative;
  top: 68px;
  border-radius: 5px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20vw;
  margin: 0 auto;
  padding: 100px 0 60px 0;
}

.login > label, input {
  padding: 0 5px 0 0;
}

.login > label {
  position: relative;
  right: 45px;
}

.loginHeader {
  position: relative;
  bottom: 60px;
}

.loginButton {
  margin-top: 40px;
  width: 60%;
}
